main {
  padding: 24px 12px;
}
.search-field {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin-inline: auto;
  margin-bottom: 48px;
}
.countries-container {
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.countries-container-empty {
  min-height: 800px;
}
